<html>

<head>

<link rel="stylesheet" href="styles.css">

</head>

<body>
<br>
<a href="/">Return to homepage</a>
<br>

<br>
<form action="/addCat" method="post">
    <div>
        <label>Cat Name:</label>
        <input type="text" id="catName" name="catName" value="<%=randomName%>"/>
    </div>
    <div>
        <label>Cat Breed:</label>
        <input type="text" name="catBreed" value="<%=randomBreed%>"/>
    </div>
    <div>
        <label>Cat Name:</label>
        <input type="number" name="catAge" value="<%=randomAge%>"/>
    </div>
    <div>
        <input type="submit" value="Add Cat"/>
    </div>
</form>

</body>


</html>
